.container {
	margin-bottom: 45px;
}

#contents {
	position: relative;
	padding-top: 43px;
}

.inner {
	@include marginCenter();
	width: (600/640) * 100%;
}

.noscroll {
	overflow: hidden;
}

.sectit1 {
	color: $color-primary;
	font-size: 1.25rem;
	font-weight: 900;
	text-align: center;
}

.sectit2 {
	padding-bottom: 14px;
	font-size: 1.25rem;
	font-weight: 900;
}

.sector1 {
	position: relative;
}

.bordsect {
	border-top: 2px solid $color-primary;
}

.embed_container {
	position: relative;
	max-width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	margin-bottom: 12px;
	overflow: hidden;
	z-index: 1;

	iframe,
	object,
	embed {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
	}
}

.animation-waypoint {
	@include transition(0.4s);
	opacity: 0;
	transform: translateY(50px);

	&.anistart {
		opacity: 1;
		transform: translateY(0);
	}
}
