.main {
	#header {
		background-color: transparent;
	}
	#contents {
		padding-top: 0;
	}

	.bibleweek {
		color: $color-primary;
		margin-bottom: 12px;
		font-weight: 900;
		text-decoration: underline;
		text-align: center;
	}

	.weekword {
		text-align: center;
	}
}

.mainvisual {
	position: relative;
	height: 506px;
	background: url("../images/main/visual.jpg") no-repeat center bottom;
	background-size: cover;

	h3 {
		@include posiCenter("va");

		img {
			width: 185px;
		}

		ul {
			@include marginCenter();
			width: 100px;
			margin-top: 7px;

			li {
				font-size: 0.875rem;
				font-weight: 400;
				line-height: 1.6;
				text-align: justify;
				text-align-last: justify;

				strong {
					font-weight: 700;
				}
			}
		}
	}
}

.bt_viscroll {
	color: $white;
	position: absolute;
	display: block;
	top: 435px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;

	.arrow {
		@include marginCenter();
		width: 28px;
		height: 30px;
		margin-bottom: 8px;

		span {
			opacity: 0;
			display: block;
			position: absolute;
			width: 28px;
			height: 14px;
			top: 0;
			left: 50%;
			margin-left: -14px;
			background: url("../images/main/scroll.png") no-repeat;
			background-size: contain;
			animation: vanishBelow 1.6s linear infinite;

			&.delay2 {
				animation-delay: 0.5s;
			}
			&.delay3 {
				animation-delay: 1s;
			}
		}
	}

	p {
		font-size: 0.875rem;
	}
}

.mainsector {
	padding: 20px 0 35px;
}

.maintit {
	color: $gray;
	margin-bottom: 15px;
	font-size: 1.5rem;
	font-weight: 900;
	text-align: center;

	p {
		color: $lgray2;
		font-size: 0.75rem;
		font-weight: 700;
		text-transform: uppercase;
	}
}

.maintit2 {
	border-top: 1px solid $lgray5;
	border-bottom: 1px solid $lgray5;
	padding: 8px 0;
	font-weight: 900;
	text-align: center;

	span {
		color: $color-primary;
	}
}

.mainbg1 {
	background: url("../images/main/inbg1.jpg") no-repeat center top;
	background-size: cover;
}

.main_sldr {
	border-top: 2px solid $color-primary;
	border-bottom: 2px solid $lgray4;

	.item {
		h5 {
			@include ir();
			border-bottom: 1px solid $lgray4;
			height: 40px;
			font-weight: 900;
			text-align: center;
			line-height: 40px;
		}

		.sldtext {
			padding: 15px 0 20px;
		}

		.txt1 {
			color: $color-primary;
			font-size: 0.875rem;
			text-align: center;
		}

		.txt2 {
			font-size: 0.875rem;
			text-align: center;
		}

		.sldtits1 {
			text-align: center;

			span {
				color: $color-primary;
				border-left: 1px solid $color-primary;
				border-right: 1px solid $color-primary;
				display: inline-block;
				font-size: 0.875rem;
				text-align: center;
				padding: 0 5px;
				font-weight: 700;
			}
		}

		.boxbank {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 8px;
			background-image: url("../images/main/sld_bg4.jpg");
			background-size: cover;

			.boxicon {
				background-color: $color-primary;
				position: relative;
				width: 46px;
				height: 46px;

				span {
					@include posiCenter("va");
					display: block;
					width: 29px;
					height: 33px;
					background: url("../images/main/ico_hand.png") no-repeat;
					background-size: contain;
				}
			}

			.boxtxt {
				width: calc(100% - 60px);
				font-size: 0.875rem;

				strong {
					font-weight: 900;
				}
			}
		}

		.sld_ftxt {
			color: $color-primary;
			font-size: 1.125rem;
			text-align: center;
			font-weight: 700;

			.sfico {
				@include marginCenter();
				width: 32px;
				height: 25px;
				margin-bottom: 3px;
				background-image: url("../images/main/ico_bible.png");
				background-size: contain;
			}
		}

		.sld_dlist {
			text-align: center;

			dt,
			dd {
				border-bottom: 1px solid $lgray3;
				font-size: 0.875rem;
				padding-bottom: 15px;
			}

			dt {
				color: $color-primary;
			}

			dd {
				padding-top: 12px;

				.bold1 {
					margin-bottom: 4px;
					font-size: 1rem;
					font-weight: 900;
				}
			}
		}
	}

	.slick-arrow {
		@include ir();
		position: absolute;
		top: 0;
		width: 15px;
		height: 40px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		z-index: 4;

		&.slick-prev {
			left: 0;
			background-image: url("../images/main/sld_arrl.png");
		}

		&.slick-next {
			right: 0;
			background-image: url("../images/main/sld_arrr.png");
		}
	}

	.slick-dots {
		background-color: $white;
		position: absolute;
		display: flex;
		justify-content: space-between;
		width: 100%;
		top: 0;
		left: 0;
		text-align: center;
		z-index: 4;

		& > li {
			display: block;
			width: 25%;

			button {
				@include ir();
				color: $lgray3;
				display: block;
				position: relative;
				width: 100%;
				height: 39px;

				&::after {
					color: $color-default;
					position: absolute;
					display: block;
					width: 100%;
					top: 0;
					left: 0;
					font-size: 0.875rem;
					line-height: 39px;
					text-align: center;
				}
			}

			&.slick-active {
				button {
					&::after {
						color: $color-primary;
						font-weight: 900;
					}
				}
			}

			&:nth-of-type(1) {
				button::after {
					content: "통독 챌린지";
				}
			}
			&:nth-of-type(2) {
				button::after {
					content: "암송 챌린지";
				}
			}
			&:nth-of-type(3) {
				button::after {
					content: "필사 챌린지";
				}
			}
			&:nth-of-type(4) {
				button::after {
					content: "우간다캠페인";
				}
			}
		}
	}
}
