.main {
	#header {
		background-color: transparent;
	}
	#contents {
		padding-top: 0;
	}

	.bibleweek {
		margin-bottom: 12px;
		color: $color-primary;
		text-decoration: underline;
		text-align: center;
	}

	.weekword {
		font-size: 0.813rem;
		text-align: center;
	}
}

.mainvisual {
	position: relative;
	height: 100vh;
	background: url("../images/main/visual.jpg") no-repeat;
	background-size: cover;

	h3 {
		@include posiCenter("va");

		img {
			width: 185px;
		}
	}
}

.mainsector {
	padding: 20px 0 35px;
}

.maintit {
	color: $gray;
	margin-bottom: 15px;
	font-size: 1.5rem;
	font-weight: 900;
	text-align: center;

	p {
		color: $lgray2;
		font-size: 0.75rem;
		font-weight: 700;
		text-transform: uppercase;
	}
}

.maintit2 {
	border-top: 1px solid $lgray5;
	border-bottom: 1px solid $lgray5;
	padding: 8px 0;
	font-weight: 900;
	text-align: center;

	span {
		color: $color-primary;
	}
}

.mainbg1 {
	background: url("../images/main/inbg1.jpg") no-repeat center top;
	background-size: cover;
}

.main_sldr {
	border-top: 2px solid $color-primary;

	.item {
		h5 {
			border-bottom: 1px solid $lgray4;
			font-weight: 900;
			text-align: center;
		}

		.txt1 {
			margin-bottom: 15px;
			color: $color-primary;
			font-size: 0.875rem;
			text-align: center;
		}
	}
}
