.visual_mem {
	position: relative;
	height: 248px;
	background: url("../images/members/visual.jpg") center;
	background-size: cover;

	h3 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -60%);
		text-align: center;

		p {
			margin-bottom: 8px;
			font-size: 0.875rem;
			font-weight: 700;
		}

		div {
			margin-bottom: 5px;

			img {
				width: 101px;
			}
		}

		strong {
			display: block;
			font-size: 1.5rem;
			font-weight: 900;
		}
	}
}

.memsection {
	border-top: 2px solid $color-primary;
	border-bottom: 2px solid $color-primary;
	position: relative;
	padding: 24px 0;

	.sectit1 {
		position: absolute;
		width: 100%;
		top: -40px;
	}
}

.memfrm {
	display: flex;
	justify-content: space-between;
	align-content: center;
	flex-wrap: wrap;
	margin-bottom: 8px;

	& > dt {
		color: $lgray2;
		width: 73px;
		font-size: 0.75rem;
		font-weight: 900;

		label {
			display: block;
			height: 100%;
			padding-top: 10px;
		}
	}

	& > dd {
		width: calc(100% - 75px);

		&.flex {
			display: flex;
			justify-content: space-between;

			.inputbox {
				width: calc(100% - 94px);
			}

			.inpbtn {
				width: 88px;
			}
		}
	}
}

.findmn {
	display: flex;
	justify-content: stretch;
	margin-top: 10px;

	& > li {
		position: relative;
		flex-basis: 50%;

		&::after {
			@include posiCenter("v");
			background-color: $lgray4;
			content: "";
			display: block;
			width: 1px;
			height: 20px;
			right: 0;
		}

		&:last-of-type::after {
			display: none;
		}

		& > a {
			color: $navy;
			display: block;
			text-align: center;
			font-weight: 700;
		}
	}
}
