.tabtype1 {
	background-color: $lgray;
	box-shadow: rgba($black, 0.2) inset 0 0 6px;
	display: flex;
	justify-content: space-evenly;
	border-radius: 4px;
	overflow: hidden;

	& > li {
		flex-basis: 50%;
		& > a {
			display: block;
			padding: 5px 0;
			text-align: center;
			font-weight: 700;
			border-radius: 4px;
			overflow: hidden;
		}

		&.current {
			& > a {
				color: $white;
				background-color: $skyBlue;
				box-shadow: rgba($black, 0.1) 0 0 3px;
			}
		}
	}
}

.tabtype2 {
	border-top: 2px solid $lgray5;
	border-bottom: 1px solid $lgray5;
	display: flex;
	justify-content: space-evenly;
	position: relative;
	overflow: hidden;
	z-index: 1;

	& > li {
		flex-basis: 50%;

		& > a {
			display: block;
			position: relative;
			padding: 8px 0;
			text-align: center;
			font-weight: 900;
			z-index: 2;
		}

		&.current {
			& > a {
				color: $color-primary;

				&::after {
					background-color: $color-primary;
					content: "";
					position: absolute;
					width: 100%;
					height: 4px;
					left: 0;
					bottom: -1px;
				}
			}
		}
	}
}

.speakwrap {
	position: relative;
	margin-top: 30px;

	.tabtype1 {
		position: absolute;
		width: 160px;
		top: 0;
		right: 0;
	}
}

.videodetail {
	display: none;
	padding-top: 20px;
}

.biblelist {
	@include clearfix();

	& > li {
		float: left;
		width: 25%;
		margin-top: 12px;

		a {
			display: flex;
			justify-content: stretch;
			align-content: stretch;
			width: 72px;
			height: 72px;
			margin: auto;
			background: url("../images/icon/ico_bible.png") no-repeat;
			background-size: contain;

			span {
				flex: auto;
				align-self: center;
				font-size: 1.375rem;
				font-weight: 700;
				text-align: center;
			}
		}

		&:nth-of-type(4n + 1) {
			clear: both;
		}
	}
}
