@keyframes scalein {
	0% {
		opacity: 0.5;
		transform: scale(1.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes vanishBelow {
	0% {
		opacity: 0.4;
	}
	100% {
		opacity: 1;
		transform: translateY(25px);
	}
}
