$color-primary: #01b3eb;
$color-default: #282828;
$white: #fff;
$black: #000;
$gray: #414042;
$lgray: #f2f2f2;
$lgray2: #aaa;
$lgray3: #e5e5e7;
$lgray4: #c0c4cf;
$lgray5: #d4d4d4;
$skyBlue: #44c1e9;
$navy: #2b3648;

$main-width: 100%;
