$color-primary: #01b3eb;
$color-default: #282828;
$white: #fff;
$black: #000;
$gray: #414042;
$lgray: #f5f5f5;
$lgray2: #aaa;
$lgray3: #e5e5e7;
$lgray4: #c0c4cf;
$lgray5: #d4d4d4;
$lgray6: #fbfbfb;
$skyBlue: #44c1e9;
$skyBlue2: #18a8da;
$navy: #2b3648;
$red: #f15b67;

$main-width: 100%;
